<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptHelp.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptHelp.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ScriptHelp.MySettings>
            <setting name="Column_TypeText" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Table_ColumnScriptQuote" serializeAs="String">
                <value>'</value>
            </setting>
            <setting name="Column_TypeNumeric" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Table_ColumnScriptNull" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="Table_ColumnDateFormatFind" serializeAs="String">
                <value>mm:ss.0</value>
            </setting>
            <setting name="Table_ColumnDateFormatReplace" serializeAs="String">
                <value>dd-mmm-yyyy</value>
            </setting>
            <setting name="Column_TypeDate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Table_ColumnName" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="Table_ColumnCleanedColour" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="App_PathReadMe" serializeAs="String">
                <value>https://github.com/aduguid/ScriptHelp/blob/master/README.md</value>
            </setting>
            <setting name="Visible_grpFormatDataTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="App_PathDeploy" serializeAs="String">
                <value>https://raw.githubusercontent.com/aduguid/ScriptHelp/master/publish/</value>
            </setting>
            <setting name="App_PathDeployData" serializeAs="String">
                <value />
            </setting>
            <setting name="App_PathLocalData" serializeAs="String">
                <value />
            </setting>
            <setting name="App_PathReportIssue" serializeAs="String">
                <value>https://github.com/aduguid/ScriptHelp/issues/new</value>
            </setting>
            <setting name="App_ReleaseDate" serializeAs="String">
                <value>07/31/2017 13:05:00</value>
            </setting>
            <setting name="Table_ColumnSeparateValuesDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="Table_ColumnTableAlias" serializeAs="String">
                <value>tbl</value>
            </setting>
            <setting name="Table_StyleName" serializeAs="String">
                <value>TableStyleMedium15</value>
            </setting>
            <setting name="Visible_grpClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_grpScriptVariables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_mnuScriptType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_mnuScriptType_DQL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_mnuScriptType_Github" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_mnuScriptType_PLSQL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_mnuScriptType_TSQL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_mnuScriptType_XML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_btnSeparateValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_btnZeroToNull" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_PathFileListing" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="Option_PathFileListingSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_btnClearInteriorColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_btnFileList" serializeAs="String">
                <value>True</value>
            </setting>
        </ScriptHelp.MySettings>
    </userSettings>
    <applicationSettings>
        <ScriptHelp.MySettings>
            <setting name="App_Author" serializeAs="String">
                <value>Anthony Duguid</value>
            </setting>
        </ScriptHelp.MySettings>
    </applicationSettings>
</configuration>
