<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptHelp.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptHelp.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ScriptHelp.MySettings>
            <setting name="TSQL_TEXT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TSQL_QUOTE" serializeAs="String">
                <value>'</value>
            </setting>
            <setting name="TSQL_NUMERIC" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TSQL_NULL" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="TSQL_DATE_PASTE_FORMAT" serializeAs="String">
                <value>mm:ss.0</value>
            </setting>
            <setting name="TSQL_DATE_FORMAT" serializeAs="String">
                <value>dd-mmm-yyyy</value>
            </setting>
            <setting name="TSQL_DATE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SQL_COL_NAME" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="CLEAN_CELL_COLOUR" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="TSQL_QUERY_TYPE" serializeAs="String">
                <value>INSERT</value>
            </setting>
            <setting name="HelpFile" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="Visible_btnForceColumnToDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_drpQueryType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_ComAddInsDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_FormatAsTableGallery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible_ViewFreezePanesGallery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_RemoveDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Visible_btnCompareWorksheets" serializeAs="String">
                <value>False</value>
            </setting>
        </ScriptHelp.MySettings>
    </userSettings>
    <applicationSettings>
        <ScriptHelp.MySettings>
            <setting name="Author" serializeAs="String">
                <value>Anthony Duguid</value>
            </setting>
        </ScriptHelp.MySettings>
    </applicationSettings>
</configuration>
